<div class="container">
<h1>The stupid coach</h1>

<div class="card">
<p><%= @answer %></p>
<p> - You</p>
</div>
<div class="card answer">
<p><%= @coach %></p>
<p> - Your coach</p>
</div>

<p class="link"><%= link_to "Ask a new question", ask_path %></p>
</div>
